.collapsSideNavLink {
	text-decoration: none;
	color: black;
	height: 100%;
	margin-bottom: 15px;
	transition: 0.2s ease;
	border-radius: 5px;
}

.collapsNavLinksIcon {
	width: 20px !important;
	height: 20px !important;
	margin-right: 5px;
}

.collapsSideNavLink.active {
	background-color: #bbbbbb;
}

.hideCollapsNav {
	left: -200px !important;
}

@media screen and (min-width:600px) {
	.collapsSideNavLink:hover {
		background-color: #bbbbbb;
	}
}

@media screen and (max-width:599px) {
	.collapsSideNavLink{
		margin-bottom: 0;
	}
}