::-webkit-scrollbar {
	width: 0px;
}

/* .scrollDiv{
	transition: 0.2s ease;
}

.scrollDiv:hover::-webkit-scrollbar-track {
	background-color: rgb(170, 170, 170);
	border-radius: 25px;
}

.scrollDiv:hover::-webkit-scrollbar-thumb {
	background-color: #215ba6;
	border: 0.2vw solid transparent;
	background-clip: content-box;
	border-radius: 25px;
	transition: 0.2s ease;
}

.scrollDiv:hover::-webkit-scrollbar-thumb:hover {
	background-color: #edeef2;
} */